*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dll
*.dylib
*.a
*.lib
*.exe
*.out
*.app

.idea/
cmake-build-*/

*~
.fuse_hidden*
.Trash-*
.nfs*

Thumbs.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk